# ROMs
*.gb
*.gbc

# generated
data/scene1_16k.bin

# emulator trashes
*.sgm
*.sav
*.rtc
*.sn*
*.dat

# rgbds extras
*.sym
*.map
*.o

# precompiled Python
*.pyc
*$py.class

# bgb dumps for denicccer
*.dump

# from github/gitignore/blob/master/Global/Windows.gitignore
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
*.db
*.bak
